@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<h1>@ViewData["Title"]</h1>
<p>
    You do not have access to this resource.
</p>

@section PrimaryAside{
    <section class="aside">
        <ul>
            <li><a asp-page="./Login">Log in to your Sfira account</a></li>
        </ul>
    </section>
}
