@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>
<h4>Change password to your Sfira account.</h4>
<partial name="_StatusMessagePartial" for="StatusMessage" />
<form method="post">
    <div asp-validation-summary="All" class="validation summary"></div>
    <div class="formGroup">
        <label asp-for="Input.OldPassword"></label>
        <input asp-for="Input.OldPassword" />
        <span asp-validation-for="Input.OldPassword" class="validation"></span>
    </div>
    <div class="formGroup">
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" />
        <span asp-validation-for="Input.NewPassword" class="validation"></span>
    </div>
    <div class="formGroup">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="validation"></span>
    </div>
    <button type="submit">Update password</button>
</form>

@section PrimaryAside {
    <partial name="_ManageNavigationPartial" />
}
