@page
@model IndexModel
@{
    ViewData["Title"] = "Manage Accont";
}

<h1>@ViewData["Title"]</h1>
<h4>Edit your Sfira account.</h4>
<partial name="_StatusMessagePartial" for="StatusMessage" />
<form method="post">
    <div asp-validation-summary="All" class="validation"></div>
    <div class="formGroup">
        <label asp-for="Username"></label>
        <input asp-for="Username" disabled />
    </div>
    <div class="formGroup">
        <label asp-for="Input.Email"></label>
        <div class="inputGroup">
            @if (Model.IsEmailConfirmed)
            {
                <input class="item" asp-for="Input.Email" />
                <span class="item verified"><i class="far fa-check-circle"></i> Verified</span>
            }
            else
            {
                <input class="item" asp-for="Input.Email" />
                <button class="item" type="submit" asp-page-handler="SendVerificationEmail">Send verification</button>
            }
        </div>
        <span asp-validation-for="Input.Email" class="validation"></span>
    </div>
    <button type="submit">Save</button>
</form>

@section PrimaryAside {
    <partial name="_ManageNavigationPartial" />
}
