@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<h4>Log in to your Sfira account.</h4>
<form method="post">
    <div asp-validation-summary="All" class="validation"></div>
    <div class="formGroup">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" />
        <span asp-validation-for="Input.Username" class="validation"></span>
    </div>
    <div class="formGroup">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password" class="validation"></span>
    </div>
    <div class="formGroup">
        <div class="checkbox">
            <input asp-for="Input.RememberMe" />
            <label asp-for="Input.RememberMe"></label>
        </div>
    </div>
    <button type="submit">Log in</button>
</form>


@section PrimaryAside{
    <section class="aside">
        <ul>
            <li><a asp-page="./ForgotPassword">Forgot your password?</a></li>
            <li><a asp-page="./Register">Register as a new user</a></li>
        </ul>
    </section>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

