@page
@model ProfileModel
@{
    ViewData["Title"] = "Edit Profile";
}

<h1>@ViewData["Title"]</h1>
<h4>Edit your Sfira user profile.</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<form method="post">
    <div asp-validation-summary="All" class="validation"></div>
    <div class="formGroup">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" />
        <span asp-validation-for="Input.Name" class="validation"></span>
    </div>
    <div class="formGroup">
        <label asp-for="Input.Description"></label>
        <textarea asp-for="Input.Description">@Model.Input.Description</textarea>
    </div>
    <div class="formGroup">
        <label asp-for="Input.Location"></label>
        <input asp-for="Input.Location" />
    </div>
    <div class="formGroup">
        <label asp-for="Input.Website"></label>
        <input asp-for="Input.Website" />
        <span asp-validation-for="Input.Website" class="validation"></span>
    </div>
    <button type="submit">Save</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
