@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4>Create a new Sfira account.</h4>
<form asp-route-returnurl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="validation summary"></div>
    <div class="formGroup">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email" class="validation"></span>
    </div>
    <div class="formGroup">
        <label asp-for="Input.UserName"></label>
        <input asp-for="Input.UserName" />
        <span asp-validation-for="Input.UserName" class="validation"></span>
    </div>
    <div class="formGroup">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password" class="validation"></span>
    </div>
    <div class="formGroup">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="validation"></span>
    </div>
    <div class="formGroup">
        By clicking <strong>Register</strong>, you agree to <a asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/TermsOfUse">Terms of Use</a> and <a asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/PrivacyPolicy">Privacy Policy</a>.
    </div>
    <button type="submit">Register</button>
</form>

@section PrimaryAside{
    <section class="aside">
        <ul>
            <li><a asp-page="./Login">Already have an account?</a></li>
        </ul>
    </section>
}
