@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<h4>Reset your password.</h4>
<form method="post">
    <input asp-for="Input.Code" type="hidden" />
    <div class="formGroup">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email" class="validation"></span>
    </div>
    <div class="formGroup">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password" class="validation"></span>
    </div>
    <div class="formGroup">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="validation"></span>
    </div>
    <button type="submit">Reset</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
