.ChatsList {
  > .chat {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: $padding-sm 0;

    &:first-of-type {
      border-top: $border-width-base solid $color-primary;
    }

    &:last-of-type {
      border-bottom: $border-width-base solid $color-primary;
    }

    &:nth-of-type(n+2) {
      border-top: $border-width-sm solid $color-primary;
    }

    > .icon {
      flex: 0 0 auto;

      > .avatar {
        width: 3rem;
        height: 3rem;
      }
    }

    > .wrapper {
      margin-left: $margin-sm;
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      > .user {
        > .name {
        }

        > .username {
          color: color-variant("light", $color-primary);

          @media #{$screen-xs} {
            display: none;
          }
        }
      }

      > .lastMessage {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: $font-size-sm;

        > .body {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        > .timestamp {
          flex-basis: 1 1 auto;
          margin-left: $margin-sm;
          white-space: nowrap;
          color: color-variant("light", $color-primary);
        }
      }
    }
  }
}
