.Comment {
  font-size: $font-size-sm;
  background-color: transparent;
  padding: $padding-base;

  > .header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;

    > .avatar {
      position: static;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      flex: 0 0 auto;
      border-radius: 20%;
    }

    > .user {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      > .name {
        margin-left: $padding-base;
      }

      > .username {
        margin-left: $padding-base;
        color: color-variant("light", $color-primary);

        @media #{$screen-xs} {
          display: none;
        }
      }
    }

    > .timestamp {
      margin-left: $margin-sm;
      white-space: nowrap;
      flex-grow: 1;
      text-align: right;
    }
  }

  > .body {
    overflow-wrap: break-word;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
