.MessageCreate {
  margin-top: $margin-base * 1.5;

  > .form {

    > .body {
      display: block;
      height: 4rem;
      min-height: 4rem;
      background-color: color-variant("superlight", $color-primary);
      border: $border-width-base solid $color-primary;
      border-radius: $radius-base;

      &:focus {
        background-color: $color-white;
      }
    }
  }

  > .actions {
    display: block;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: $margin-sm;

    > .action {
      margin-left: auto;
    }
  }
}
