.Message {
  width: 80%;

  &.-user {
    margin-left: auto;

    > .header {
      > .user {
        display: none;
      }

      > .timestamp {
        margin-left: auto;
      }
    }

    > .body {
      overflow-wrap: break-word;
      color: $color-white;
      background-color: $color-primary;
    }
  }

  &:nth-of-type(n+2) {
    margin-top: $margin-base;
  }

  > .header {
    display: flex;
    margin-bottom: $margin-xs;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: $font-size-sm;

    > .user {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      > .name {
      }

      > .username {
        margin-left: $margin-sm;
        color: color-variant("light", $color-primary);

        @media #{$screen-xs} {
          display: none;
        }
      }
    }

    > .timestamp {
      white-space: nowrap;
      color: color-variant("light", $color-primary);
    }
  }

  > .body {
    padding: $padding-base;
    background-color: color-variant("superlight", $color-primary);
    border-radius: $radius-base;
  }
}
