.PostCreate {
  padding: $padding-base;

  .postContent {
    background-color: color-variant("superlight", $color-primary);
    border: $border-size-base solid $color-primary;
    border-radius: $radius-base;
  }

  textarea {
    display: block;
    height: 4rem;
    min-height: 4rem;
    border: none;
    background: none;
    border-radius: $radius-base;

    &:focus {
      background-color: $color-white;
    }
  }

  .actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  button {
    margin: $margin-base 0;
  }

  .attachmentPreview {
    position: relative;
    padding-bottom: 100%;

    .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      border-width: $border-size-base 0 0 0;
      border-style: solid;
      border-color: $color-primary;
      border-radius: 0 0 $radius-base $radius-base;
      border-radius: 0 0 $radius-base/2 $radius-base/2;
    }
  }
}
