.Post {
  > .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem + $padding-sm;
    padding-bottom: $padding-sm + $border-size-base;

    > .user {
      > .name {
        display: inline-block;
        margin-right: $margin-sm;
      }

      > .username {
        display: inline-block;
        color: color-variant("light", $color-primary);
      }
    }

    > .timestamp {
      color: color-variant("light", $color-primary);
    }
  }

  > .content {
    border: $border-size-base solid $color-primary;
    border-radius: $radius-base;
    background-color: color-variant("superlight", $color-primary);

    > .top {
      position: relative;
      background-color: $color-primary;

      > .avatar {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: $padding-base;
        bottom: $padding-base;
      }

      > .postActions {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        font-weight: $font-weight-bold;
        font-size: $font-size-lg;
        padding: ($padding-base)-($border-size-base) $padding-base $padding-base;
        margin-left: 5rem - $border-size-base;
        color: $color-white;

        .action {
          padding-right: $padding-base;
          color: $color-white;

          &:hover {
            text-decoration: none;
          }

          &:focus {
            outline: none;
          }
        }

        .counter {
          padding-left: $padding-sm;
        }

        .more {
          font-size: $font-size-base;
          font-weight: $font-weight-normal;
          padding-right: $padding-sm;
        }
      }
    }

    > .body {
      overflow-wrap: break-word;
      padding: $padding-base;
    }

    > .attachment {
      position: relative;
      padding-bottom: 33.33%; //fallback
      padding-bottom: calc(100% / 3);
      background-color: $color-primary;

      &.bottom .cover {
        border-radius: 0 0 $radius-sm * 1.5 $radius-sm * 1.5;
      }

      > .cover {
        border-top: $border-size-base solid $color-primary;
      }
    }
  }
}
