.PostsFeed {
  > .Post {
    &:nth-of-type(n+2) {
      margin-top: ($margin-base)+($padding-base)-($border-size-base)
    }
  }

  > .Loader {
    margin-top: ($margin-base)+($padding-base)-($border-size-base);
    padding: $padding-base;
    font-weight: $font-weight-bold;
    text-align: center;
    color: $color-white;
    background-color: $color-primary;
    border-radius: $radius-base;
    cursor: pointer;
  }
}
