.Post {
  > .flags {
    font-size: $font-size-sm;
    color: $color-secondary;
  }

  > .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 5rem + $padding-sm;
    padding-bottom: $padding-sm + $border-width-base;

    > .user {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      > .name {
      }

      > .username {
        margin-left: $margin-sm;
        color: color-variant("light", $color-primary);

        @media #{$screen-xs} {
          display: none;
        }
      }
    }

    > .timestamp {
      margin-left: $margin-sm;
      white-space: nowrap;
      color: color-variant("light", $color-primary);
    }
  }

  > .content {
    border: $border-width-base solid $color-primary;
    border-radius: $radius-base;
    background-color: color-variant("superlight", $color-primary);

    > .top {
      position: relative;
      background-color: $color-primary;

      > .avatar {
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: $padding-base;
        top: -2rem;
      }

      > .postActions {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        font-weight: $font-weight-bold;
        font-size: $font-size-lg;
        padding: ($padding-base)-($border-width-base) $padding-base $padding-base;
        margin-left: 5rem - $border-width-base;
        color: $color-white;

        > .major {
          > .action {
            display: inline-block;
            padding-right: $padding-base;
            color: $color-white;
            cursor: pointer;
          }
        }

        .counter {
          padding-left: $padding-sm;
        }

        .more {
          font-size: $font-size-base;
          font-weight: $font-weight-normal;
          padding-right: $padding-sm;
        }
      }
    }

    > .body {
      padding: $padding-base;
      overflow-wrap: break-word;
    }

    > .attachment {
      position: relative;
      padding-bottom: 33.33%; //fallback
      padding-bottom: calc(100% / 3);
      background-color: $color-primary;

      &.bottom .cover {
        border-radius: 0 0 $radius-sm * 1.5 $radius-sm * 1.5;
      }

      > .cover {
        border-top: $border-width-base solid $color-primary;
      }
    }
  }
}
