.single-comment {
  font-size: $font-size-sm;
  border-top: $border-size-sm solid $color-primary;
  background-color: transparent;
  padding: $padding-base;

  .header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;

    span {
      display: inline-block;
      overflow: hidden;
    }
  }

  .name {
    margin-right: $padding-base;
    margin-left: $padding-base;
  }

  .username {
    color: color-variant("light", $color-primary);
  }

  .timestamp {
    flex-grow: 1;
    text-align: right;
  }

  .content {
    border: none;
    background-color: transparent;
  }

  .avatar {
    position: static;
    display: inline-block;
    width: 2rem;
    height: 2rem;
  }

  .body {
    overflow-wrap: break-word;
    padding: 0;
  }
}
