@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Manage your account</h1>
    <hr>
</div>


@RenderBody()

@section MainAside{
    <partial name="_ManageNav" />
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}
