**/.ignore/
**/.git/
**/.readme/
**/.vs/
**/bin/
**/obj/
**/out/
**/Migrations/
**/node_modules/
**/Rubbish/
**/wwwroot/media/user/

**/.dockerignore
**/.gitattributes
**/.gitignore
**/*.md
**/*.Development.json
**/desktop.ini
**/package.json
**/package-lock.json
