# Auto detect text files and perform LF normalization
* text=auto

**/wwwroot/lib/* linguist-vendored=true
**/wwwroot/*.css linguist-generated=true
**/wwwroot/*.js linguist-generated=true
**/*.sql linguist-generated=true