@model IEnumerable<CommentViewModel>

<section class="Feed CommentsFeed">
    @if (Model.Any())
    {
        foreach (var comment in Model)
        {
            await Html.RenderPartialAsync("_CommentPartial", comment);
        }
    }
    else
    {
        <article class="Comment">
            <span>Post doesn't have any comments</span>
        </article>
    }
</section>
