@model CommentViewModel

<form class="create-comment">
    <h1>Add a comment</h1>
    <textarea asp-for="@Model.Body" class="body" placeholder="Write your reply."></textarea>
    <button type="button">Submit</button>
</form>
