@model CommentViewModel

<form class="create-comment">
    <h1>Add comment</h1>
    <textarea asp-for="@Model.Message" class="message" placeholder="Write your reply."></textarea>
    <button type="button">Submit</button>
</form>
