@model IEnumerable<MessageViewModel>

<section class="Feed MessagesFeed">
    @if (Model != null)
    {
        foreach (var message in Model)
        {
            await Html.RenderPartialAsync("_MessagePartial", message);
        }
    }
</section>
