<noscript>
    <style>
        .Site {
            display: none;
        }
    </style>
    <div class="javascript-disabled">
        <h1>JavaScript required</h1>
        <p>
            For full functionality of this site it is necessary to enable JavaScript.
            Here are the <a href="https://www.enable-javascript.com/">instructions how to enable JavaScript in your web browser</a>.
        </p>
    </div>
</noscript>
