@model PostsFeedLoaderViewModel

@(await Component.InvokeAsync<PostsFeedViewComponent>(Model.Posts))

@if (Model.HasLoader)
{
    <section class="Loader" data-link="@Model.LoaderLink" data-count="@Model.LoaderCount" data-cursor="@Model.LoaderCursor">
        <div class="loaderButton">
            <div class="content">
                Load more posts
            </div>
        </div>
    </section>
}
