@model IEnumerable<PostViewModel>

<section class="Feed PostsFeed">
    @if (Model.Any())
    {
        @foreach (var post in Model)
        {
            await Html.RenderPartialAsync("_PostPartial", post);
        }
    }
</section>
