@model AttachmentViewModel

<div class="cover thumbnail"
     style="background: url(@("/media/users/" + Model.Owner.Id + "/" + Model.Name + "-thumb." + Model.Extension)) center / cover no-repeat"
     data-fullresolutionimage="@("/media/users/" + Model.Owner.Id + "/" + Model.Name + "." + Model.Extension)">
</div>
