@model AttachmentViewModel

<div class="cover" style="background: url(@("/media/users/f3ba7de4-5d58-433f-9cba-c9609326f6dd/" + Model.Name + "-thumb." + Model.Extension)) center / cover no-repeat">
</div>
