@{
    @model PostsFeedLoaderViewModel;
    ViewBag.Title = "Home";
}

@{await Html.RenderPartialAsync("_PostCreatePartial", new PostViewModel());}

@if (User.Identity.IsAuthenticated)
{
    <section class="Feed PostsFeed">
        @if (Model != null)
        {
            await Html.RenderPartialAsync("_PostsFeedLoaderPartial", Model);
        }
        else
        {
            <section class="Info">
                <header>Welcome to Sfira!</header>
                <a asp-controller="@ExploreController.Name" asp-action="@nameof(ExploreController.Index)">
                    <p>Find some users to follow</p>
                </a>
            </section>
        }
    </section>
}

@section PrimaryAside{
}

@section SecondaryAside{
    <section class="aside">
        <header>
            Trending tags
        </header>
        @(await Component.InvokeAsync<TrendingTagsViewComponent>())
    </section>
    <section class="aside">
        <header>
            Popular users
        </header>
        @(await Component.InvokeAsync<PopularUsersViewComponent>())
    </section>
}
