@{
    @model IEnumerable<PostViewModel>;
    ViewBag.Title = "Home \u00B7 Sfira";
}

@{await Html.RenderPartialAsync("~/Views/Shared/_CreatePostPartial.cshtml", new PostViewModel()); }

@{if (User.Identity.IsAuthenticated)
    {
        if (Model == null)
        {
            <section class="app-message">
                <header><h1>Welcome to Sfira!</h1></header>
                <a asp-controller="Explore" asp-action="@nameof(ExploreController.Index)">
                    <p>Find some users to follow</p>
                </a>
            </section>
        }
        else
        {
            @foreach (var p in Model)
            {
                await Html.RenderPartialAsync("~/Views/Shared/_PostPartial.cshtml", p);
            }
        }
    }
}

@section MainAside{
}

@section Aside{
    <section class="aside">
        <header>
            You may like
        </header>
        <p>
            Related content here.
        </p>
    </section>
}
