@{
    @model IEnumerable<PostViewModel>;
    ViewBag.Title = "Home \u00B7 Sfira";
}

@{await Html.RenderPartialAsync("_CreatePostPartial", new PostViewModel()); }

@{if (User.Identity.IsAuthenticated)
    {
        if (Model == null)
        {
            <section class="app-message">
                <header>Welcome to Sfira!</header>
                <a asp-controller="Explore" asp-action="@nameof(ExploreController.Index)">
                    <p>Find some users to follow</p>
                </a>
            </section>
        }
        else
        {
            <section class="feed posts-feed">
                @{await Html.RenderPartialAsync("_PostsFeedPartial", Model); }
            </section>
        }
    }
}

@section MainAside{
}

@section Aside{
    <section class="aside">
        <header>
            You may like
        </header>
        <p>
            Related content here.
        </p>
    </section>
}
