@page
@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"] Sfira</h1>
<section class="articleSection">
    <h4>
        Sfira is a social media web application created using ASP.NET Core MVC.
    </h4>
</section>
<section class="articleSection">
    <h2>Project Website</h2>
    <p>
        Public Git repository: <a href="https://github.com/mroczekdotdev/Sfira">github.com/mroczekdotdev/Sfira</a>
    </p>
</section>
<section class="articleSection">
    <h2>Project Author</h2>
    <p>
        Marcin Mroczek<br>
        Homepage: <a href="https://mroczek.dev/">mroczek.dev</a>
    </p>
</section>
