@page "/about/privacy"
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Sfira @ViewData["Title"]</h1>
<section class="articleSection">
    <h2>Collection of Information</h2>
    <p>
        Ea has modo hinc essent. Eu putant salutatus scribentur pro. Brute tractatos mel id, in tritani reprimique definitiones mea. Ius quem diceret accommodare ex, cu nulla antiopam intellegat eum. Id cum ipsum soleat.
    </p>
    <p>
        Ne detracto volutpat scripserit eum, justo aliquando his eu. Eu pri equidem meliore facilis, quod omnes eum te, duo eius civibus accumsan cu. Viris prompta invidunt ex mea, per partem fabellas gloriatur id. Id eam ignota quodsi. Prima electram disputando mei id, ex cum inani equidem, splendide dissentias pro ex. Has ne agam nonumy, te platonem conceptam mel. Illud mucius legimus ei est, illum probatus no nec, omnium commune maiestatis pro an.
    </p>
</section>
<section class="articleSection">
    <h2>Use of Information</h2>
    <p>
        Ut case eros inani vel, pri ex erant doctus vivendo. Duis fastidii appareat vix ut, labores scriptorem no est. Sea ad partem similique adipiscing. Id illud repudiare gloriatur vim. Sit tamquam ornatus ut, ea suas imperdiet qui. Per ea soluta eripuit consequat, cu his facer labores perfecto.
    </p>
    <p>
        Ut eos dicit graece accommodare, ne justo melius ius, ex assum mucius suavitate sit. Qui te vocibus noluisse qualisque, quidam adipisci repudiandae ei mea, praesent tractatos qualisque id vim. Eum in audire electram reprehendunt, eu pro nulla malorum recusabo, quaestio erroribus ei pri. His ipsum deleniti ad.
    </p>
    <p>
        Eam pericula petentium ea, sit tantas platonem imperdiet ea. Menandri suavitate his ad, sea in velit concludaturque. Pro ea scribentur definitiones.
    </p>
</section>
<section class="articleSection">
    <h2>Disclosure of Information</h2>
    <p>
        Te tale case equidem mei, salutatus voluptaria ut vim. At sit iisque accommodare, discere quaerendum ut eos. Qui elaboraret adversarium id, dicit pertinax eleifend quo te, id voluptaria reformidans mediocritatem est. Equidem corrumpit definitiones at mei, ne suavitate conceptam has. Solet soluta periculis ut duo. Iudico omnesque nec ei, an pri soleat tincidunt. Sea in iudico dolores, maiorum consetetur cu eos, vis decore phaedrum molestiae ne. Cu alii porro dicit quo. Accusamus mnesarchum per ex, te atqui quando oratio pro. Pri ad mutat oratio. Mei iusto periculis eu. Ex nec diam elaboraret, no nostrud democritum voluptaria nam.
    </p>
</section>
<section class="articleSection">
    <h2>Security</h2>
    <p>
        Per no novum choro, eu vis delectus contentiones. In oporteat insolens eos. Ne his solet discere. Tantas appareat usu et, et esse ornatus vim. Sit nonumy percipit volutpat ne, pro meliore blandit ut. Pro te sonet interesset, his aliquid apeirian constituam at, laoreet contentiones no per.
    </p>
    <p>
        Nam justo nobis id. Eum cu odio vocibus fuisset. No vis movet postea detraxit. Legere vocent numquam ad sit, ex nam iriure detraxit appellantur. Semper fabulas an eam.
    </p>
    <p>
        Id eruditi explicari maiestatis vix, ne nonumes liberavisse mei. Te eam assum mediocrem, legere expetenda at est. An mel nihil molestie copiosae, eros quaeque mel in. Ei nec purto quaeque accusamus, qui soleat instructior ea, nemore vidisse persequeris ex vis. Qui sumo suscipit percipitur ex.
    </p>
</section>
<section class="articleSection">
    <h2>Personal Data Retention</h2>
    <p>
        Sed suavitate ocurreret no, cu torquatos eloquentiam pro. Ne melius vidisse maiestatis per. Viderer suavitate in mel, ut tation laoreet eligendi pro. Ea audire elaboraret inciderint cum, nam unum inimicus mediocritatem te, cu eligendi consequat sea. Et mediocrem qualisque eos, ad mel ferri reque dolor, sit tritani nonumes cu.
    </p>
    <p>
        <strong>IMPORTANT NOTICE: Ne ornatus petentium vix, vix malorum vocibus ex, Ne vix graece salutatus, quodsi inimicus interesset no nam.</strong>
    </p>
</section>
