@page "/about/terms"
@{
    ViewData["Title"] = "Terms of Use";
}

<h1>Sfira @ViewData["Title"]</h1>
<section class="articleSection">
    <h2>Agreement to Terms of Use</h2>
    <p>
        Ea has modo hinc essent. Eu putant salutatus scribentur pro. Brute tractatos mel id, in tritani reprimique definitiones mea. Ius quem diceret accommodare ex, cu nulla antiopam intellegat eum. Id cum ipsum soleat. In discere sapientem eum, te has commune laboramus ullamcorper. Cu duo perfecto referrentur, usu an rationibus referrentur. Eum et putant impedit, cum an altera mentitum indoctum, duo ne veri sapientem. Vis choro philosophia te, eos fabulas feugait an. Ea alii etiam falli eam, graecis oportere eam no. Eum habemus volumus ad, qui dolor vocibus in.
    </p>
    <p>
        <strong>IMPORTANT NOTICE: Ne eos cetero expetenda consequat, noster sensibus salutatus at his, eu mei alienum constituto.</strong>
    </p>
    <p>
        No reque nulla omnium sea, sit ex vidit necessitatibus, cetero labitur dolorum ex mei. Ei usu elitr quaestio moderatius, ut paulo ornatus usu. Per option virtute perfecto an, ne fugit copiosae cotidieque est. Nam ad augue alienum percipitur. At sed wisi populo, ad ius duis euripidis. Nec ne laoreet ancillae, suas semper diceret ne duo. Mucius invenire intellegam vel ex, et blandit interpretaris vim.
    </p>
</section>
<section class="articleSection">
    <h2>Sfira Services</h2>
    <p>
        Equidem platonem disputando mea ei. Mel ea tamquam insolens, sed eu ubique noster. Denique consulatu an mea, ut nam expetenda mediocritatem, altera insolens ne ius. Modo petentium ea mei, et per dicit zril volumus. Ad vel bonorum forensibus. Ei soleat reformidans eos. At quo natum semper. Has sonet pertinax mandamus no. Oblique dolores et sea, vix ne diam moderatius. Rebum consul noster ei sed, id labitur dissentias signiferumque du
    </p>
    <p>
        Ut eos dicit graece accommodare, ne justo melius ius, ex assum mucius suavitate sit. Qui te vocibus noluisse qualisque, quidam adipisci repudiandae ei mea, praesent tractatos qualisque id vim. Eum in audire electram reprehendunt.
    </p>
    <p>
        Aliquid deterruisset no duo, vim ad verear nonumes disputando, et purto nominati quo. Eos altera impetus eu, vel te audire suavitate quaerendum, pro iriure detraxit dissentias no. An nemore sententiae vis, deleniti prodesset eam ut. Eu duo docendi recteque consequuntur, saepe intellegebat usu id. In vel case putant utamur.

    </p>
</section>
<section class="articleSection">
    <h2>Access to Services</h2>
    <p>
        Unless otherwise specified, the Services are for your personal and non-commercial use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the Services. Option aeterno reprimique in vis, at quo aliquid bonorum, no quot habeo illum quo. Saepe inimicus sapientem ad his, ex impedit lucilius consectetuer eam. Per adhuc scripta sententiae ne, id elitr solet iuvaret per. Mel commune placerat delicata te, errem decore probatus no mei. Te molestie patrioque usu. Ne nam solet verear torquatos, ex vim doming ancillae.
    </p>
</section>
<section class="articleSection">
    <h2>Use of Services</h2>
    <p>
        Ut graeco phaedrum mel, ei his munere vivendo comprehensam. Quas debitis salutandi duo te, te possit essent accommodare nam, dicant fabulas deserunt nec no. Ex vel cetero oporteat platonem. Sea nostro moderatius cu. Et tota tritani eum. Id elit cotidieque qui. At pri libris facilis explicari, id nam petentium disputando. Sed ne commune consequuntur. Consul laudem ei vim, qui augue dolore definitiones te, pri imperdiet assueverit in. Facilis consequuntur quo ei. Ex affert legere vix, pro ipsum cetero voluptaria et, in bonorum vituperata reformidans pri.
    </p>
</section>
<section class="articleSection">
    <h2>Account</h2>
    <p>
        At nam eirmod debitis pericula. Sit id inermis vituperatoribus, est ludus epicurei no. Solum mentitum cum eu, no mei utroque dolores epicurei, vocibus habemus eam ea. Has id iudicabit deseruisse. Pri inani civibus aliquando ad, at pro iriure utroque omittam.
    </p>
    <p>
        Dicam virtute id his, eu labore delenit blandit vis, ullum sententiae sed no. Ad ius reque omnium facilisi, in has sumo latine accommodare. Vim dicit mundi te, pro an posse detraxit quaestio. Nec ne alia ludus, te vim nisl nominati theophrastus, cibo porro quodsi cum ex. Quo at illum velit sonet. Sea te dolorum reformidans, ei hinc natum sea, hinc liberavisse vix ad. Et malorum molestie perfecto mea, vitae verear molestie id vix, sed ex latine quaestio assueverit. Ut melius placerat quo, et nobis equidem lucilius pri. Ius an lobortis sadipscing disputationi, ei mea regione euripidis forensibus. Te eos utinam pericula repudiare, est movet iuvaret sadipscing ut. Est mutat illum phaedrum ei, nam facer reformidans no, at oratio maiestatis qui.
    </p>
</section>
<section class="articleSection">
    <h2>Third-Party Content</h2>
    <p>
        Cibo posse repudiandae duo et, vidit mediocritatem an sed. Odio suas dissentiet ex pro, his ut verear viderer aliquam. Mea an dolores scaevola dissentiet, nobis definiebas nam ad. Nonumes ceteros eum te, quo ex wisi errem maiorum, fugit sonet tractatos ne duo. Vocibus perfecto mei in, ut vim soluta omittam repudiandae. Ea pro iudicabit intellegam, possit aeterno offendit ne mei.
    </p>
</section>
<section class="articleSection">
    <h2>Advertising and Promotion</h2>
    <p>
        Has eu ignota singulis, qui idque mollis ornatus in, nullam aperiam ius eu. Sed te fugit falli. An eam porro principes interpretaris, an sit verear praesent. Vel ex sanctus noluisse voluptatum, pro at habeo accusamus assueverit. Usu cu quod omnesque electram, est alia accusam no, vim eu quas putant oblique. Pro te percipit oportere. Duis eruditi at per, pri vero convenire definiebas ea. Nominati consulatu signiferumque te cum. Pri et causae instructior, at erat iudico postulant vis. Ius ea dicta veniam, ea stet lorem vitae ius, no dicat dolorum scripserit per.
    </p>
</section>
<section class="articleSection">
    <h2>Customer Support</h2>
    <p>
        Id cum reque menandri, in ipsum errem necessitatibus pro. Sed ad erat essent, mel te quot mutat instructior. Tritani laoreet et vel. Eu est viderer aliquam, alienum percipitur est in, est te vero equidem abhorreant. Ex est corpora splendide honestatis, in cum esse cibo.
    </p>
    <p>

        Sed ad dicat labore, movet ponderum torquatos cu sea, in mel sadipscing omittantur. Tation gubergren at vix, perfecto facilisis assentior vim ad. Ei tamquam vivendum voluptatum duo, id mel postea debitis consequuntur. Et dico discere eum, ut nullam facete euismod quo. In eam eirmod accusam.
    </p>
    <p>
        Purto commune nam ex, ei idque temporibus sit. Vitae omnium debitis ne sed, sit ut ipsum sanctus nominavi. Te cum meis sensibus salutatus, at doming scripserit neglegentur mel. Et duo graeci ponderum intellegebat. Nam mollis animal tamquam at, pri an decore labitur ocurreret, atqui libris ne nam. Qui consetetur persequeris no. Nibh similique quo id, per ea viderer feugait propriae, ut legere epicurei facilisi mei. Te pro integre numquam ponderum. Ut elitr option qui. Ne clita utinam fuisset duo, ius fabellas legendos ad. Aeque labores percipitur mei ex. Verear diceret epicuri vis ne, ea consul aliquando vis.
    </p>
</section>
<section class="articleSection">
    <h2>Privacy</h2>
    <p>
        Eos munere <a class="item" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/PrivacyPolicy">Privacy Policy</a> ut repudiare splendide modo dicam sea id.
    </p>
</section>
<section class="articleSection">
    <h2>Copyright </h2>
    <p>
        Posse ullum sententiae vel ne. Meis bonorum interpretaris usu no, cu his omittam molestie. Quaestio sapientem iudicabit pri ut, viris vocent est an, vel id minim ancillae deleniti. Per habeo harum nominavi in. Eu mutat insolens sit, ex eos augue affert feugait.
    </p>
    <p>
        Per no purto dissentiunt, sea et latine mentitum signiferumque, ad pro graeci nostrum. Cu omittam verterem vix, oratio tollit gloriatur ea cum, ad purto verear appellantur eam. His ipsum alienum no, lorem utamur eu nam, ea est nihil phaedrum. Ut amet elitr mea. Erat commune cum ex, an impetus invidunt prodesset vix. Sit debitis appareat ad, labores maiorum te cum. Nonumes sapientem percipitur ut pro, ferri sanctus conceptam et sit. Ei qui homero debitis, hinc omnes disputando ex qui, qui at illud iusto sapientem. Et quem alterum eum, ne elit tollit vis. Nam ut docendi principes, eu cum aliquam consectetuer, no vel aeterno definitionem. Nec ipsum dicit cu, menandri theophrastus mel no. Diam graecis officiis duo at, his purto probatus et, mel errem quaestio ei.
    </p>
</section>
<section class="articleSection">
    <h2>Termination</h2>
    <p>
        No ius putant timeam, ut sed odio everti delenit. Ad ubique intellegat scripserit mei. Mutat euismod salutandi ut mei, duo ceteros fuisset perpetua cu. Summo denique appetere ea sea, invidunt temporibus in vix. Cu vidit deserunt vix, ut aperiam quaestio mei, partem possit scripta vis ut. Vis id altera invidunt consectetuer. Vidisse adolescens has an. Eum choro inimicus efficiantur te.
    </p>
    <p>
        Quod veri in per, ei corpora rationibus constituto sed. Eius apeirian eleifend ne mei, nec liber graecis interesset id. Enim erant dolorum pri in. Ne case erat autem usu. Menandri convenire cu eam, ex sit posse dicant.
    </p>
</section>
