@model IEnumerable<string>

@if (Model.Any())
{
    <ul>
        @foreach (var trendingTag in Model)
        {
            <li><a asp-controller="@TagController.Name" asp-action="@nameof(HomeController.Index)" asp-route-tagName="@trendingTag">#@trendingTag</a></li>
        }
    </ul>
}
else
{
    <p>Nothing is currently trending.</p>
}
