@model IEnumerable<string>

@if (Model.Any())
{
    <ul>
        @foreach (var trendingTag in Model)
        {
            <li><a asp-controller="Tag" asp-action="@nameof(HomeController.Index)" asp-route-tagName="@trendingTag">#@trendingTag</a></li>
        }
    </ul>
}
