.create-comment {
  display: none;
  border-top: $border-size-sm solid $color-primary;
  background-color: transparent;
  padding: $padding-base;

  .form-group {
    margin: $padding-base 0;

    textarea {
      height: 4rem;
      min-height: 4rem;
    }

    button {
      margin: 0;
    }
  }
}
