@{
    @model IEnumerable<ChatViewModel>
    ViewBag.Title = "Messages \u00B7 Sfira";
}

<section class="conversations">
    <h1>Conversations</h1>
    @if (Model.Any())
    {
        await Html.RenderPartialAsync("_ChatsListPartial", Model);
    }
    else
    {
        <section class="app-message">
            <header>You don't have any conversations</header>
        </section>
    }
</section>
