@{
    @model IEnumerable<ChatViewModel>
    ViewBag.Title = "Messages";
}

<section class="conversations">
    <h1>Conversations</h1>
    @if (Model.Any())
    {
        await Html.RenderPartialAsync("_ChatsListPartial", Model);
    }
    else
    {
        <section class="Info">
            <header>You don't have any conversations</header>
        </section>
    }
</section>

@section PrimaryAside{
    <section class="aside">
        <p>
            You may not use language that could be offensive. Threatening or harassing another user is intolerable. Any violation of the rules will result in account restrictions.
        </p>
        <ul>
            <li><a class="link" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/TermsOfUse">Terms of Use</a></li>
        </ul>
    </section>
}
