@{
    @model IEnumerable<PostViewModel>;
    var tagNameWithSymbol = "#" + ViewContext.RouteData.Values["tagName"];
    ViewBag.Title = tagNameWithSymbol + " \u00B7 Sfira";
}

@{await Html.RenderPartialAsync("_CreatePostPartial", new PostViewModel());}

@{
    if (!Model.Any())
    {
        <section class="app-message">
            <header>@tagNameWithSymbol doesn’t have any posts</header>
        </section>
    }
    else
    {
        <section class="feed posts-feed">
            @{await Html.RenderPartialAsync("_PostsFeedPartial", Model);}
        </section>
    }
}

@section MainAside{
}

@section Aside{
    <section class="aside">
        <header>
            Top Posts
        </header>
        <p>
            Top Posts content here.
        </p>
    </section>
    <section class="aside">
        <header>
            Trending
        </header>
        <p>
            Trending content here.
        </p>
    </section>
}
