@{
    @model IEnumerable<PostViewModel>;
    ViewBag.Title = "#" + ViewContext.RouteData.Values["tagName"] + " \u00B7 Sfira";
}

@{await Html.RenderPartialAsync("~/Views/Shared/_CreatePostPartial.cshtml", new PostViewModel()); }
@foreach (var p in Model)
{
    await Html.RenderPartialAsync("~/Views/Shared/_PostPartial.cshtml", p);
}
@section MainAside{
}
@section Aside{
    copied from Explore
    <section class="aside">
        <header>
            Top Posts
        </header>
        <p>
            Top Posts content here.
        </p>
    </section>
    <section class="aside">
        <header>
            Trending
        </header>
        <p>
            Trending content here.
        </p>
    </section>
}
