@{
    @model PostsFeedLoaderViewModel;
    var tagNameWithSymbol = "#" + ViewContext.RouteData.Values["tagName"];
    ViewBag.Title = tagNameWithSymbol + " \u00B7 Sfira";
}

@{await Html.RenderPartialAsync("_PostCreatePartial", new PostViewModel());}

<section class="Feed PostsFeed">
    @if (Model != null)
    {
        await Html.RenderPartialAsync("_PostsFeedLoaderPartial", Model);
    }
    else
    {
        <section class="Info">
            <header>@tagNameWithSymbol tag doesn't have any posts</header>
        </section>
    }
</section>


@section MainAside{
}

@section Aside{
    <section class="aside">
        <header>
            Top Posts
        </header>
        <p>
            Top Posts content here.
        </p>
    </section>
    <section class="aside">
        <header>
            Trending
        </header>
        <p>
            Trending content here.
        </p>
    </section>
}
