@{
    @model PostsFeedLoaderViewModel;
    ViewBag.Title = "#" + ViewContext.RouteData.Values["tagName"];
}

@{await Html.RenderPartialAsync("_PostCreatePartial", new PostViewModel());}

<section class="Feed PostsFeed">
    @if (Model != null)
    {
        await Html.RenderPartialAsync("_PostsFeedLoaderPartial", Model);
    }
    else
    {
        <section class="Info">
            <header>@ViewBag.Title tag doesn't have any posts</header>
        </section>
    }
</section>


@section PrimaryAside{
}

@section SecondaryAside{
    <section class="aside">
        <header>
            Trending tags
        </header>
            @(await Component.InvokeAsync<TrendingTagsViewComponent>())
    </section>
    <section class="aside">
        <header>
            Popular users
        </header>
            @(await Component.InvokeAsync<PopularUsersViewComponent>())
    </section>
}
