@{
    @model IEnumerable<PostViewModel>;
    ViewBag.Title = "Explore \u00B7 Sfira";
}

@{await Html.RenderPartialAsync("_CreatePostPartial", new PostViewModel());}

<section class="feed posts-feed">
    @{await Html.RenderPartialAsync("_PostsFeedPartial", Model);}
</section>

@section MainAside{
}

@section Aside{
    <section class="aside">
        <header>
            Trending tags
        </header>
        <p>
            Trending content here.
        </p>
    </section>
    <section class="aside">
        <header>
            Trending users
        </header>
        <p>
            Trending content here.
        </p>
    </section>
}
