@{
    @model PostsFeedLoaderViewModel;
    ViewBag.Title = "Explore";
}

@{await Html.RenderPartialAsync("_PostCreatePartial", new PostViewModel());}

<section class="Feed PostsFeed">
    @{await Html.RenderPartialAsync("_PostsFeedLoaderPartial", Model); }
</section>

@section PrimaryAside{
}

@section SecondaryAside{
    <section class="aside">
        <header>
            Trending tags
        </header>
            @(await Component.InvokeAsync<TrendingTagsViewComponent>())
    </section>
    <section class="aside">
        <header>
            Popular users
        </header>
            @(await Component.InvokeAsync<PopularUsersViewComponent>())
    </section>
}
