@{
    @model ChatViewModel
    ViewBag.Title = "Chat";
}
@if (Model is DirectChatViewModel directChat)
{
    <section class="Chat" data-id="@directChat.Id" data-interlocutor="@directChat.Interlocutor.Id">
        <header class="subject">
            <h1>
                Conversation with @directChat.Interlocutor.Name
            </h1>
        </header>
        @{await Html.RenderPartialAsync("_MessagesFeedPartial", Model.Messages);}
    </section>
}
@{await Html.RenderPartialAsync("_MessageCreatePartial", new MessageViewModel());}

@section PrimaryAside{
    <section class="aside">
        <p>
            You may not use language that could be offensive. Threatening or harassing another user is intolerable. Any violation of the rules will result in account restrictions.
        </p>
        <ul>
            <li><a class="link" asp-area="@nameof(MroczekDotDev.Sfira.Areas.About)" asp-page="/TermsOfUse">Terms of Use</a></li>
        </ul>
    </section>
}
