@model IEnumerable<AttachmentViewModel>

@if (Model.Any())
{
    foreach (var attachment in Model)
    {
        <section class="item">
            @(await Component.InvokeAsync<AttachmentViewComponent>(attachment))
        </section>
    }
}
else
{
    <section class="Info">
        <header>User doesn't have any media</header>
    </section>
}
