@model IEnumerable<UserViewModel>

@if (Model.Any())
{
    <ul>
        @foreach (var popularUser in Model)
        {
            <li><a asp-controller="User" asp-action="@nameof(UserController.Index)" asp-route-userName="@popularUser.UserName">@@@popularUser.UserName</a></li>
        }
    </ul>
}
else
{
    <p>No one is currently popular.</p>
}
