.Profile {
  width: 100%;
  margin-bottom: $margin-xl;

  @media #{$screen-xs} {
    margin-bottom: $margin-lg * 1.5;
  }

  > .header {
    position: relative;
    padding-bottom: 33.33%; //fallback
    padding-bottom: calc(100% / 3);

    > .avatar {
      position: absolute;
      bottom: -3rem;
      left: $margin-base;
      width: 7rem;
      height: 7rem;
      border: $border-width-lg solid $color-white;

      @media #{$screen-xs} {
        bottom: $margin-base;
        width: 5rem;
        height: 5rem;
        border-width: $border-width-base;
      }
    }

    > .userWrapper {
      position: absolute;
      bottom: $margin-base;
      width: 100%;

      > .user {
        margin-left: $margin-base + 7rem + $margin-base;
        margin-right: $margin-base;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $color-white;
        text-shadow: 0 0 5px $color-black, 0 0 1px $color-black;

        @media #{$screen-xs} {
          margin-left: $margin-base + 5rem + $margin-base;
        }

        > .name {
          font-size: $font-size-lg;
          font-weight: $font-weight-bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @media #{$screen-xs} {
            font-size: $font-size-base;
          }
        }

        > .username {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          @media #{$screen-xs} {
            font-size: $font-size-sm;
            line-height: $line-height-sm;
          }
        }
      }
    }

    > .actions {
      display: flex;
      position: absolute;
      justify-content: space-around;
      top: $margin-base;
      right: $margin-base;

      button, .button {
        border: $border-width-base solid $color-white;
        margin-left: $padding-sm;
      }

        button.unfollow {
          color: $color-primary;
          border: $border-width-base solid $color-primary;
          background-color: $color-white;
        }

        button.more {
          width: 2.5rem;
        }

      > .moreActions {
        > .disabled {
          color: $color-white;
          background-color: color-variant("light", $color-primary);
        }
      }
    }

    > .feedsMenuWrapper {
      position: absolute;
      right: 0;
      bottom: -2.25rem;
      width: 100%;

      > .feedsMenu {
        display: flex;
        margin-left: $margin-base + 7rem + $margin-base;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;

        @media #{$screen-xs} {
          margin-left: 0;
        }

        > .active {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
