.Site {
  width: 100%;
  max-width: 900px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 $padding-lg;
  padding: 0 $padding-lg $padding-lg;
  background-color: $color-white;

  > .siteHeader {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: $padding-lg 0;
    border-bottom: $border-width-base solid $color-primary;
    background-color: $color-white;
    z-index: 2;

    > .logo {
      flex: 0;
      height: 36px;
      display: inline-block;

      > img {
        height: 36px;
      }

      #PrimaryLogo {
        @media #{$screen-xs} {
          display: none;
          height: 36px;
        }
      }

      #MiniLogo {
        display: none;

        @media #{$screen-xs} {
          display: inline-block;
        }
      }
    }

    > .siteMenu {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 $padding-base;

      > .item {
        padding: 0 $padding-sm;

        @media #{$screen-xs} {
          font-size: $font-size-lg;
        }

        &.active {
          font-size: $font-size-lg;
          font-weight: $font-weight-bold;

          @media #{$screen-xs} {
            font-size: $font-size-xl;
            line-height: 36px;
          }
        }

        > .label {
          @media #{$screen-xs} {
            display: none;
          }
        }
      }
    }

    > .SearchForm {
      margin-right: $margin-base;
    }
  }

  > .mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media #{$screen-sm} {
      flex-direction: column;
    }

    > .mainColumn {
      display: flex;
      flex: 2;
      flex-direction: column;
      min-width: 0;
      margin-right: $margin-base;

      @media #{$screen-sm} {
        margin-right: 0;
      }
    }

    > .sideColumn {
      display: flex;
      flex: 1;
      flex-shrink: 0;
      flex-direction: column;
      min-width: 0;

      @media #{$screen-sm} {
        margin-top: $margin-base;
      }

      > .sideContent {
        padding: $padding-lg;
        background-color: color-variant("superlight", $color-primary);

        .aside {
          overflow-wrap: break-word;

          > header {
            margin: 0;
            font-weight: $font-weight-bold;
          }

          > ul {
            margin: 0;
            padding: 0;
          }

          &:nth-of-type(n+2) {
            margin-top: $margin-base;
          }
        }
      }

      > .siteFooter {
        margin: $margin-sm $margin-sm 0 $margin-sm;
        font-size: $font-size-sm;
        color: $color-gray;
        background-color: $color-white;

        > .link {
          color: $color-gray;

          &:hover {
            color: color-variant("dark", $color-gray);
          }
        }
      }
    }
  }
}

.articleSection {
  &:nth-of-type(n+2) {
    margin-top: $margin-base;
  }
}

.javascript-disabled {
  padding: $padding-base;
  background-color: $color-white;
}
