.Site {
  width: 100%;
  max-width: 900px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 $padding-lg;
  padding: 0 $padding-lg $padding-lg;
  background-color: $color-white;

  > .siteHeader {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: $padding-lg 0;
    border-bottom: $border-size-base solid $color-primary;
    background-color: $color-white;
    z-index: 2;

    > .logo {
      flex: 0;
      height: 36px;
      display: inline-block;
    }

    > .siteMenu {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 $padding-base;

      > .item {
        padding: 0 $padding-sm;

        &.active {
          font-size: $font-size-lg;
          font-weight: $font-weight-bold;
        }
      }
    }

    > .SearchForm {
      margin-right: $margin-base;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .main-column {
    display: flex;
    flex: 2;
    flex-direction: column;
    min-width: 0;
    margin-right: $margin-base;
  }

  .side-column {
    display: flex;
    flex: 1;
    flex-shrink: 0;
    flex-direction: column;
    min-width: 0;

    .side-content {
      padding: $padding-lg;
      background-color: color-variant("superlight", $color-primary);
    }

    @media #{$screen-sm} {
      display: none;
    }
  }
}

.aside {
  header {
    margin: 0;
    font-weight: $font-weight-bold;
  }

  &:nth-of-type(n+2) {
    margin-top: $margin-base;
  }
}

.site-footer {
  padding: $padding-base;
  font-size: $font-size-sm;
  color: $color-gray;
  background-color: $color-white;
}

.javascript-disabled {
  padding: $padding-base;
  background-color: $color-white;
}

.href {
  cursor: pointer;
}
